
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myInput {
  width:250px;
}

input{
   text-align:center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.head {
  overflow: hidden;
}
.time {
  float: right;
  font-size: 1em;
}
.instagram-image {
  margin-bottom: 10px;
}
